header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  flex-wrap: wrap;
}

.header-logo {
  height: 80px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.container {
  padding-bottom: 4rem;
}

.section-title {
    margin: 2rem 0;
}

.display-4 {
    font-weight: 700;
}

.lead {
    font-weight: 500;
}

.result {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fafafa;
    width: 100%;
    padding: 1rem;
}

.result pre {
  margin: 0;
}

.no-result {
    color: #aaa;
}

footer {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100vw;
  font-size: small;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

@media(max-width: 576px) {
  header {
    padding: 1rem;
  }
  
}

@media(max-width: 768px) {
  #title {
    text-align: center;
  }
}